__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

.ipynb_checkpoints/

*.npy

*.pth

*.pt

*.onnx

.DS_Store

Thumbs.db

outputs/

dataset/raw/

dataset/undistorted/

calibration/checkerboard_images/

models/checkpoints/